matplotlib
# numpy
# opencv-python
# lightning
# torchmetrics
# torchinfo
# tensorflow
# wandb
# pandas
# Pillow
# black
# timm
# scipy
# # jupyterlab items
# ipywidgets
# jupyterlab
# # SoccerNet
# SoccerNet
# # YOLO
# ultralytics
# # COCO
# cython
# pycocotools
# # MM-CDFSL
# decord
# deepspeed
# einops
# hydra-core
# networkx
# scikit-image
# scikit-learn
# timm
# tensorboardX
peft
diffusers[torch]
transformers
datasets
evaluate
accelerate
gradio
-f https://download.pytorch.org/whl/torch_stable.html
torch==2.1.0+cu121
torchaudio==2.1.0+cu121
torchvision==0.16.0+cu121
